# Visual Studio
/.vs

# Will be sent on the last commit
/AnimationProgramming/Release/*
/Release/*
/Data/*
/Release/*
!/Release/Resources/
/Release/Resources/*
!/Release/Resources/skinning.vs
/AnimationProgramming/Debug/*
/AnimationProgramming/x64/Debug/*